<div id="wrap">
  <div class="container">
    <h1>Profile App</h1>
      {{outlet}}
      {{outlet "modal"}}
  </div>
</div>
<footer id="footer">
  <div class="container">
    <p class="text-muted credit">Copyright © {{currentYear}} TestApp.</p>
  </div>
</footer>
